---
import Calculator from "../../components/Apps/Calculator.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Calculator">
  <main>
    <h2
      class="font-bold font-poppins flex justify-center text-3xl pt-12 text-slate-900"
    >
      Calculator
    </h2>
    <section class="font-poppins flex justify-center items-center">
      <Calculator />
    </section>
  </main>
</Layout>
