---
import Countdown from "../../components/Apps/Countdown.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Countdown">
  <main>
    <section class="font-poppins flex justify-center items-center">
      <Countdown />
    </section>
  </main>
</Layout>
