---
import Tictactoe from "../../components/Apps/Tictactoe.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Tic Tac Toe">
  <main>
    <section class="font-poppins flex justify-center items-center">
      <Tictactoe />
    </section>
  </main>
</Layout>
