<section class="coming-soon">
  <h2>We are Opening up Soon</h2>
  <div class="countdown">
    <div class="container-day">
      <h3 class="day">00</h3>
      <h4>day</h4>
    </div>
    <span>:</span>
    <div class="container-hour">
      <h3 class="hour">00</h3>
      <h4>hour</h4>
    </div>
    <span>:</span>
    <div class="container-minute">
      <h3 class="minute">00</h3>
      <h4>minute</h4>
    </div>
    <span>:</span>
    <div class="container-second">
      <h3 class="second">00</h3>
      <h4>second</h4>
    </div>
  </div>
</section>

<style>
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
    background-image: url(/cafe.webp);
    background-repeat: no-repeat;
    background-size: cover;
  }

  h2 {
    font-size: 3rem;
    color: rgb(249, 200, 168);
    padding-top: 100px;
    font-weight: bold;
  }

  h3,
  .day {
    font-size: 2.5rem;
    font-weight: bold;
    color: #edbd85;
    margin: 0px;
  }
  span {
    font-size: 2.5rem;
    font-weight: bold;
    color: #8e6639;
    margin: 0px;
  }

  h4 {
    font-size: 1rem;
    margin: 0px;
    color: #c4853c;
  }
  .countdown {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 10px 10px 20px 10px;
    border-radius: 5px;
    background: #ffff;
  }
</style>

<script>
  const countdown = async () => {
    const countDate = await new Date("September 12, 2023 00:00:00").getTime();
    const now = await new Date().getTime();
    const gap = countDate - now;

    //How the fuck does th time Work
    const second = 1000; //1 detik =  1000 milidetik
    const minute = second * 60;
    const hour = minute * 60;
    const day = hour * 24;

    //Calculate the shit
    const textDate = Math.floor(gap / day);
    const textHour = Math.floor((gap % day) / hour);
    const textMinute = Math.floor((gap % hour) / minute);
    const textSecond = Math.floor((gap % minute) / second);

    //to HTML
    document.querySelector(".day").innerText = textDate;
    document.querySelector(".hour").innerText = textHour;
    document.querySelector(".minute").innerText = textMinute;
    document.querySelector(".second").innerText = textSecond;
  };

  setInterval(countdown, 1000);
</script>
